.navbar {
    background-color: #0079bf !important; // Color azul similar al de Trello
}

.navbar-brand img {
    height: 30px;
}

.navbar-nav .nav-link {
    color: #ffffff;
}

.btn-light {
    background-color: #e4f0f6;
    border          : none;
    font-weight     : bold;
}

.dropdown-menu {
    background-color: #ffffff;
    border          : 1px solid #ddd;
}