<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="assets/images/login-logo-trello.svg" alt="Trello Logo"
                height="30" class="me-2"
                style="filter: brightness(0) invert(1);" />
        </a>

        <!-- Menú principal -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <!-- Dropdown Workspaces -->
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="workspacesDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Workspaces
                    </a>
                    <ul class="dropdown-menu"
                        aria-labelledby="workspacesDropdown">

                        <li><a class="dropdown-item" href="#"><i
                                    class="fas fa-columns"></i> boards</a></li>
                        <li><a class="dropdown-item" href="#"><i
                                    class="fas fa-th-large"></i>
                                templates</a></li>
                        <li><a class="dropdown-item" href="#"><i
                                    class="fas fa-home"></i> home</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <div class="accordion" id="accordionWorkspaces"
                                onclick="event.stopPropagation();">
                                <div class="accordion-item">
                                    <h2 class="accordion-header"
                                        id="headingOne">
                                        <button class="accordion-button"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne"
                                            aria-expanded="true"
                                            aria-controls="collapseOne">
                                            <div
                                                class="d-flex align-items-center gap-2">
                                                <div
                                                    class="bg-primary text-white d-flex align-items-center justify-content-center box-icon">
                                                    G
                                                </div>

                                                <span
                                                    class="text-body">gabrielmontoyahuamani26’s
                                                    workspace</span>
                                            </div>
                                        </button>
                                    </h2>
                                    <div id="collapseOne"
                                        class="accordion-collapse collapse show"
                                        aria-labelledby="headingOne"
                                        data-bs-parent="#accordionWorkspaces">
                                        <div class="accordion-body">
                                            <ul style="padding-left:0">
                                                <li
                                                    style="list-style-type: none;"><a
                                                        class="dropdown-item"
                                                        href="#"><i
                                                            class="fas fa-columns"></i>
                                                        Boards</a></li>
                                                <li
                                                    style="list-style-type: none;"><a
                                                        class="dropdown-item"
                                                        href="#"><i
                                                            class="fas fa-star"></i>
                                                        Highlights</a></li>
                                                <li
                                                    style="list-style-type: none;"><a
                                                        class="dropdown-item"
                                                        href="#"><i
                                                            class="fas fa-eye"></i>
                                                        Views</a></li>
                                                <li
                                                    style="list-style-type: none;"><a
                                                        class="dropdown-item"
                                                        href="#"><i
                                                            class="fas fa-users"></i>
                                                        Users</a></li>
                                                <li
                                                    style="list-style-type: none;"><a
                                                        class="dropdown-item"
                                                        href="#"><i
                                                            class="fas fa-cog"></i>
                                                        Settings</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header"
                                        id="headingTwo">
                                        <button
                                            class="accordion-button collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseTwo"
                                            aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            <div
                                                class="d-flex align-items-center gap-2">
                                                <div
                                                    class="bg-primary text-white d-flex align-items-center justify-content-center box-icon">
                                                    G
                                                </div>

                                                <span
                                                    class="text-body">renatomontoyahuamani26's
                                                    workspace </span>
                                            </div>

                                        </button>
                                    </h2>
                                    <div id="collapseTwo"
                                        class="accordion-collapse collapse"
                                        aria-labelledby="headingTwo"
                                        data-bs-parent="#accordionWorkspaces">
                                        <div class="accordion-body">
                                            <ul style="padding-left:0">
                                                <li
                                                    style="list-style-type: none;"><a
                                                        class="dropdown-item"
                                                        href="#"><i
                                                            class="fas fa-columns"></i>
                                                        Boards</a></li>
                                                <li
                                                    style="list-style-type: none;"><a
                                                        class="dropdown-item"
                                                        href="#"><i
                                                            class="fas fa-star"></i>
                                                        Highlights</a></li>
                                                <li
                                                    style="list-style-type: none;"><a
                                                        class="dropdown-item"
                                                        href="#"><i
                                                            class="fas fa-eye"></i>
                                                        Views</a></li>
                                                <li
                                                    style="list-style-type: none;"><a
                                                        class="dropdown-item"
                                                        href="#"><i
                                                            class="fas fa-users"></i>
                                                        Users</a></li>
                                                <li
                                                    style="list-style-type: none;"><a
                                                        class="dropdown-item"
                                                        href="#"><i
                                                            class="fas fa-cog"></i>
                                                        Settings</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>

                <!-- Dropdown Recent -->
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="recentDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Recent
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="recentDropdown">
                        <li>
                            <a class="dropdown-item d-flex align-items-center"
                                href="#">
                                <div
                                    class="rounded-circle me-2"
                                    style="width: 20px; height: 20px; background-color: orange;"></div>
                                <div>
                                    <strong>Prueba</strong>
                                    <div class="text-muted"
                                        style="font-size: 12px;">
                                        gabrielmontoyahuamani26's workspace
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- Dropdown Crear -->
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="createDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Crear
                    </a>
                    <ul class="dropdown-menu overlay-board" aria-labelledby="createDropdown">
                        <div class="modal-header py-2">
                            <h5 class="modal-title fs-6"
                                id="createBoardLabel">Create new
                                board</h5>
                            <button type="button" class="btn-close"
                                data-bs-dismiss="modal"></button>
                        </div>

                        <div class="modal-body">
                            <input type="text" class="form-control mb-3"
                                placeholder="Ingresa el título">

                            <button class="btn btn-primary w-100 mb-3">Crear
                                board</button>

                            <div class="d-flex justify-content-between">
                                <div class="rounded-circle"
                                    style="width: 32px; height: 32px; background-color: #00b894; cursor: pointer;"></div>
                                <div class="rounded-circle"
                                    style="width: 32px; height: 32px; background-color: #0984e3; cursor: pointer;"></div>
                                <div class="rounded-circle"
                                    style="width: 32px; height: 32px; background-color: #6c5ce7; cursor: pointer;"></div>
                                <div class="rounded-circle"
                                    style="width: 32px; height: 32px; background-color: #fdcb6e; cursor: pointer;"></div>
                                <div class="rounded-circle"
                                    style="width: 32px; height: 32px; background-color: #e84393; cursor: pointer;"></div>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown ms-3"> 
                    <button class="btn btn-light text-primary me-3">
                        Prueba
                    </button>
                </li>

            </ul>

            <!-- Icono de usuario -->
            <div class="dropdown">
                <a
                    href="#"
                    class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                    id="userDropdown"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <img src="assets/images/user-icon.png" alt="User Icon"
                        height="30" style="filter: brightness(0) invert(1);"
                        class="rounded-circle" />
                </a>
                <ul class="dropdown-menu dropdown-menu-end text-small"
                    aria-labelledby="userDropdown">
                    <li><a class="dropdown-item" href="#">Dashboard</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Earnings</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#"
                            (click)="signOut()">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

